.footer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  height: 7rem;
  width: 100%;
  bottom: 0;
  font-size: 1.6rem;
  text-decoration: none;
  position: fixed;

  &__social {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &-whatsup {
      color: rgb(0, 148, 50);
      transition: color 0.2s;

      &:hover {
        color: rgb(96, 223, 195);
      }
    }

    &-massenger {
      margin-top: 0.8rem;
      color: rgb(16, 148, 244);
      transition: color 0.2s;

      &:hover {
        color: rgba(147, 210, 255, 0.8);
      }
    }

    &-gmail {
      margin-top: 0.8rem;
      margin-right: 2rem;
      color: rgb(233, 65, 52);
      transition: color 0.2s;

      &:hover {
        color: rgb(245, 162, 156);
      }
    }

    &-github {
      margin-top: 0.8rem;
      font-size: 1.8rem;
      transition: color 0.2s;

      &:hover {
        color: rgb(203, 123, 238);
      }
    }

    &-copy {
      font-size: 1.2rem;
      color: gray;
    }
  }
}
