*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  @media (max-width: 56.25em) {
    font-size: 50%;
  }
  @media (max-width: 37.5em) {
    font-size: 40%;
  }

  @media (max-width: 25em) {
    font-size: 30%;
  }
  // @media (min-width: 112.5em) {
  //   font-size: 75%;
  // }
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(24, 28, 38);
  color: whitesmoke;
  /* font-size: 16px; */
  line-height: 1.7;
  font-weight: 400;
  padding: 0.1px;
  /* margin: 3rem; */
  box-sizing: border-box;
  min-height: 100vh;
  overflow: hidden;
}

// 0 - 600px: phone 37.5em
// 600 - 900px: Tablet 56.25em
// 900 - 1200px: Tablet landscape 75em
// 600 - 900px: Tablet portrait
// [1200 -1800] is where normal style is applay
// 1800 > 112.5em

// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

// base + typography > general layout + grid > page lalyout > components
