.text {
  height: 75vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid rgb(97, 219, 251);
  background: linear-gradient(
    70deg,
    rgba(24, 28, 38, 1) 75%,
    rgba(97, 219, 251, 0.2) 90%
  );
}
