.container__projects {
  width: 300%;
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.projects {
  height: 100vh;
  width: 100%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  scroll-snap-align: center;
  /* padding: 3rem; */
  overflow: hidden;
  border-bottom: 1px solid rgb(97, 219, 251);
  background: linear-gradient(
    70deg,
    rgba(24, 28, 38, 1) 75%,
    rgba(97, 219, 251, 0.2) 90%
  );
  transform: translateX(0%);
}

.inputForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.inputForm button {
  margin-left: 2rem;
}
