.brush__detail {
  margin-right: 2rem;
  height: 2rem;
  background-color: lightgrey;
  color: rgb(57, 105, 117);
  font-weight: 600;

  // @media (max-width: 56.25em) {
  //   height: 2.6rem;
  // }
  // @media (max-width: 37.5em) {
  //   height: 3rem;
  // }
  // @media (max-width: 25em) {
  //   margin: 0;
  //   width: auto;
  //   height: 4rem;
  // }
}
