.color-icon {
  width: 20px;
  height: 20px;
  margin: 3px;
  border: 1px solid white;

  // @media (max-width: 56.25em) {
  //   width: 4rem;
  // }

  // @media (max-width: 37.5em) {
  //   margin: 1px;
  // }
  // @media (max-width: 25em) {
  //   margin: 0;
  //   width: 2.5rem;
  //   height: 2.5rem;
  // }

  &:hover {
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.4);
    cursor: pointer;
  }
}
