.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 2px;
}

.items button {
  z-index: 1;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border: none;
  width: 2rem;
  height: 2rem;
  /* font-size: 2rem; */
  color: rgb(57, 105, 117);
  margin: 0.3rem;
  border: 1px solid white;
  z-index: 0;
  cursor: pointer;
  font-weight: 700;

  @media (max-width: 75em) {
  }

  @media (max-width: 56.25em) {
    width: 2.5rem;
    height: 2.5rem;
  }
  @media (max-width: 37.5em) {
    width: 3rem;
    height: 3rem;
    text-align: center;
  }

  @media (max-width: 25em) {
    margin: 0;
    width: 3rem;
    height: 3rem;
  }
  @media (min-width: 112.5em) {
  }
}

.items button:not(:last-child) {
  border-right: 1px solid darkgrey;
  @media (max-width: 25em) {
    margin-right: 1rem;
  }
}
