.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 2px;
}

.items button {
  z-index: 1;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  border: none;
  width: 2rem;
  height: 2rem;
  /* font-size: 2rem; */
  color: rgb(57, 105, 117);
  margin: 0.3rem;
  border: 1px solid white;
  z-index: 0;
  cursor: pointer;
  font-weight: 700;
}

.items button:not(:last-child) {
  border-right: 1px solid darkgrey;
}
