.container-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(24, 28, 38);
  border-bottom: 2px solid rgb(97, 219, 251);
  height: 70px;
  width: 100%;
}

.name {
  display: flex;
  margin-right: auto;
  margin-left: 20px;
  color: whitesmoke;
  font-size: larger;
}

.name-color {
  color: rgb(97, 219, 251);
}
