.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: rgb(24, 28, 38);
  border-bottom: 1px solid rgb(97, 219, 251);
  height: 7vh;
  top: 0;
  width: 100%;
  z-index: 500;
  position: fixed;

  &__name {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 2rem;
    font-size: larger;
    animation-name: fadeIn;
    animation-duration: 1s;
    border: none;

    &-color {
      color: rgb(97, 219, 251);
      margin-right: -1rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
