.section__home {
  height: 93vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid rgb(97, 219, 251);
  background: linear-gradient(
    70deg,
    rgba(24, 28, 38, 1) 75%,
    rgba(97, 219, 251, 0.2) 90%
  );

  &-wrapper {
    display: flex;
    height: auto;
    align-items: center;
    max-width: 114rem;
    backface-visibility: hidden;
    margin: auto;
    width: 70%;
    height: 60%;
  }

  &-welcome {
    width: 50%;
    padding: 3rem;
    overflow: hidden;

    @media (max-width: 37.5em) {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 25em) {
      display: flex;
      flex-direction: column;
    }

    &--border {
      border-left: 0.2rem solid rgb(97, 219, 251);
      animation: 1s fadeIn ease-in;
      backface-visibility: hidden;
    }

    &--main {
      margin-bottom: 2rem;
      font-weight: 600;
      letter-spacing: 0.3rem;
      animation: 1s moveItRight ease-out;
      text-transform: uppercase;
      backface-visibility: hidden;
    }

    &--second {
      font-weight: 600;
      letter-spacing: 0.1rem;
      margin-bottom: 2rem;
      color: rgb(97, 219, 251);
      animation: 1s moveItRight ease-out;
      backface-visibility: hidden;
    }

    &--paragraph {
      font-size: 1.3rem;
      animation: 1s moveItRight ease-out;
      backface-visibility: hidden;
    }
  }

  &-photoContainer {
    width: 50%;
    left: 0;
    top: 0;
    margin: 0 auto;
    backface-visibility: hidden;
  }

  &-photo {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;

    border-radius: 50%;
    border: 0.5rem solid rgb(97, 219, 251);
    background-position: top;
    box-shadow: 0 5rem 10rem rgba(97, 219, 251, 0.5);
    background-image: url("../../../image/zdjecie2.jpg");
    background-size: cover;
    z-index: 1;
    transform: scale(1);
    transition: all 0.2s;

    &:hover {
      border: 0.5rem solid rgb(41, 106, 122);
      transform: scale(1.05);
      box-shadow: 0 5rem 10rem rgba(159, 228, 245, 0.911);
      background-color: rgba(#000, 0.5);
      z-index: 10;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveItRight {
  0% {
    transform: translateX(-30rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    transform: translate(0);
  }
}
