.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 40em;
  width: 60rem;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid rgba(100, 189, 228);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 46px 0px rgba(100, 189, 228);
  margin-top: 2rem;
  margin-bottom: 4.3rem;
  transition: all 0.4s;
  z-index: 0;

  &:hover {
    box-shadow: 0px 0px 46px 0px rgb(64, 128, 155);
  }

  & button {
    width: 4rem;
    background: transparent;
    border: none;
    z-index: 10;
    margin: 0 3rem;
    font-size: 3.7rem;
    color: whitesmoke;
    box-shadow: inset rgb(100, 189, 228);
    transition: all 0.4s;
  }
}

.container__slider button:hover {
  color: rgb(175, 231, 255);
}
.slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all ease-in-out 0.4s;

  &.active-anim img:hover {
    transform: scale(1.02);
  }

  & > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
    transition: all 0.4s;
  }
}

.active-anim {
  opacity: 1;
}

.inputForm {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  &__field {
    width: 30rem;
    height: 3rem;
    font-size: 1.6rem;
    border: 1px solid rgb(97, 219, 251);
    background-color: rgb(86, 109, 121);
    border-radius: 3px;
    box-shadow: 0 0 1rem 0.1rem rgba(97, 219, 251, 1);

    &::placeholder {
      color: darkgray;
      text-align: center;
    }

    &:focus {
      text-align: center;
      color: rgb(180, 181, 182);
      &::placeholder {
        visibility: hidden;
      }
    }
  }

  & button {
    width: 5rem;
    height: 3rem;
    font-size: 1.6rem;
    color: darkgray;
    border-radius: 3px;
    border: 1px solid rgb(97, 219, 251);
    background-color: rgb(86, 109, 121);
    box-shadow: 0 0 1rem 0.1rem rgba(97, 219, 251, 1);

    &:hover {
      background-color: rgb(107, 132, 145);
      color: rgb(95, 104, 114);
    }
  }
}
