.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 7rem;
  background-color: rgb(63, 80, 88);
  border-bottom: 1px solid rgb(97, 219, 251);
  box-shadow: inset 0px 0px 5px 2px rgba(97, 219, 251, 1);
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  font-size: 3rem;
  position: relative;

  &__cart {
    background-color: transparent;
    border: none;
    display: flex;
    font-size: 3rem;
    padding-right: 3rem;
    color: rgb(97, 219, 251);
    // transform: translate(13px);

    &:hover {
      color: rgb(52, 115, 133);
      cursor: pointer;
    }
  }
}

.counter {
  position: absolute;
  top: 2.5rem;
  right: 4rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: rgb(97, 219, 251);
  font-size: 2rem;
}
.modal {
  position: absolute;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 40rem;
  top: 20rem;
  right: 25rem;
  border: 1px solid rgb(97, 219, 251);
  z-index: 700;
  background-color: rgb(63, 80, 88);
  // translate: transform(50%);
  border-radius: 2rem;
  box-shadow: inset 0px 0px 5px 2px rgba(97, 219, 251, 1);

  &-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 600;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    font-size: 1.6rem;

    &-list {
      width: 90%;
    }

    &-btn--close > button {
      width: 7rem;
      height: 3.5rem;
      color: rgb(97, 219, 251);
      border: rgb(63, 80, 88);
      background-color: rgb(63, 80, 88);
      font-size: 2.5rem;
      transition: all 0.2s;

      &:hover {
        border: 1px solid (97, 219, 251, 1);
        border-radius: 0.2rem;
        box-shadow: 0px 0px 5px 2px rgba(97, 219, 251, 1);
      }
    }
    font-size: 1.6rem;
  }
}

.element__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  & > button {
    width: 4rem;
    color: rgba(97, 219, 251, 1);
    background-color: rgb(49, 61, 66);
    border: none;

    &:hover {
      border: 1px solid (97, 219, 251, 1);
      border-radius: 0.6rem;
      box-shadow: 0px 0px 5px 2px rgba(97, 219, 251, 1);
    }
  }
}

.list__wrapper {
  display: flex;
  width: 100%;
  color: whitesmoke;
}

.btn__price-wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
}

.total__price {
  font-size: 2.5rem;
  color: whitesmoke;
}
// &--list {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   width: 100%;
//   height: 70%;
//   margin-bottom: 4rem;
//   &--wrapper {
//     display: flex;
//     flex-direction: row;
//     color: white;
//     & counter {
//       color: red;
//     }

//     & .x {
//       font-size: 1rem;
//     }

//     & div {
//       display: block;
//     }
//   }
// }
