.paint__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80rem;
  height: 50rem;
  border: 1px solid rgb(97, 219, 251);
  box-shadow: 0px 0px 30px 1px rgba(97, 219, 251, 1);
  background-color: lightgray;
}
