.cart {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: auto;

  .products__list-category {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;
    padding: 2rem;
    line-height: 3rem;
    padding-top: 2rem;
    background-color: rgb(30, 43, 55);
    border: 1px 1px 1px 1px solid rgb(97, 219, 251);
    box-shadow: inset 0px 0px 5px 2px rgba(97, 219, 251, 1);
    border-radius: 0rem 0rem 0rem 1.5rem;

    & > button {
      text-decoration: none;
      background-color: transparent;
      border: none;
      color: whitesmoke;
      font-size: 1.6rem;
      margin-bottom: 2rem;
      cursor: pointer;

      &:hover {
        color: rgb(97, 219, 251);
      }

      &:last-child {
        color: rgb(97, 219, 251);
        &:hover {
          color: rgb(51, 150, 175);
        }
      }
    }
  }
}
.products__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 1px 5px 2px rgb(97, 219, 251);
  border-radius: 3px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 2rem;
  }
  .product__card-container {
    width: 25rem;
    height: 43rem;
    margin: 1.5rem;
    box-shadow: inset 0px 1px 5px 2px rgb(97, 219, 251);
    // border-bottom: 1px solid rgb(97, 219, 251);
    background-color: rgb(24, 28, 38);

    &--price {
      display: flex;
      justify-content: space-around;
      width: 100%;
      font-size: 2.5rem;
    }
  }
}

.product__carad-container--price {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-right: 2rem;
  cursor: pointer;
  font-size: 2rem;
  height: auto;
  color: rgb(97, 219, 251);
  border: none;
}

.btn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 3rem;
  height: auto;
  color: rgb(97, 219, 251);
  background-color: transparent;
  border: none;

  &:hover {
    color: rgb(67, 144, 163);
  }
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
}

.product__card-image {
  width: 25rem;
  height: 25rem;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.9);
    box-shadow: 0px 0px 3px 3px rgb(97, 219, 251);
  }
}

.product__card-title {
  display: flex;
  justify-content: center;
  height: 25%;
  padding: 1rem;
  font-size: 1.2rem;
}

.product__card-container--category {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1.4rem;
  padding: 0 1rem;
}
